.header {
  background-color: #FFB6C1; /* Rosa claro para o fundo do cabeçalho */
  background-image: url('imagem.png'); /* Substitua pelo caminho da imagem */
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF; /* Branco para o texto */
  text-align: center;
  position: relative;
}

.header-content {
  background-color: rgba(221, 160, 221, 0.8); /* Lilás com transparência para o conteúdo */
  padding: 20px;
  border-radius: 10px;
  color: #FFFFFF; /* Branco para contraste no texto */
}

.header-title {
  font-size: 2.5em;
  margin: 0;
  color: #333333; /* Azul claro para o título */
}

.header-description {
  font-size: 1.2em;
  color: #333333; /* Cinza escuro para descrição */
}

button {
  background-color: #ADD8E6; /* Azul claro para botões */
  color: #FFFFFF; /* Branco para o texto dos botões */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

button:hover {
  background-color: #DDA0DD; /* Lilás para hover */
}
